.hidden {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
background-color: #a6dce2;
}

ul {
    margin: 10px auto;
    list-style: none;
    padding-left: 0;
}

.text-center {
    text-align: center;
}

li {
    position: relative;
    min-width: 100px;
    display: inline-block;
    background-color: #F7F1C1;
    padding: 20px;
    cursor: pointer;
    transition: .3s;
    border-radius: 4px;
}

li:hover {
    background-color: #526667;
    color: white;
    transform: scale(1.05);
}

li span {
    display: block;
}

.day {
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.temp {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
}

#widget {
    width: 928px;
    margin: 0 auto;
    background-color: #526667;
    border-radius: 4px;
    color: white;
    padding: 40px;
    position: relative;
    background-image: url("https://i.pinimg.com/originals/07/87/01/078701dbfb8f4e6f2870af9105dea4c9.gif");
    background-size: cover;
    background-position: center;
    top: 60px;
}

#info-day {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
}

#info-temp {
    display: block;
    font-size: 50px;
}
.temperature, .weather-type, .other-description {
    display: inline-block;
    width: 33%;
}
.other-description {
    font-size: 20px;
}


.desc-row {
    margin: 10px 0;
}
#info-wind:after {

    background-position: center;
}
#info-wind {
    width: 30px;
    height: 30px;
    margin: 10px auto;
    background-position: center;
    background-size: cover;

}
#info-wind.north-west  {

    background-image: url("../images/north-west.png");
}

#info-wind.north-east  {

    background-image: url("../images/north-east.png");
}

#info-wind.north {

    background-image: url("../images/north.png");
}

#info-wind.south-west  {

    background-image: url("../images/south-west.png");
}

#info-wind.south-east  {

    background-image: url("../images/south-east.png");
}
#info-wind.south  {

    background-image: url("../images/south.png");
}

#info-speed {
    text-align: center;
    margin-top: 10px;
    font-size: 35px;
    font-weight: bold;
}

#info-type {


    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#info-type.sunny {
    background-image: url("../images/sunny.png");
}
#info-type.rainy {
    background-image: url("../images/rainy.png");
}
#info-type.cloudy {
    background-image: url("../images/cloudy.png");
}
#info-type.thunder {
    background-image: url("../images/thunder.png");
}
#info-type.snow {
    background-image: url("../images/snow.png");
}


/*Radio button style*/

.container {
    margin-right: 10px;
    display: inline-block;
    width: 50px;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.c-k-switch, .m-k-switch {
    margin: 10px auto;
    width: 30%;
    text-align: center;
}
